@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Montserrat:wght@600&display=swap');
html {
    margin: 0;
    padding: 0;
}
h1,h4,p {
    font-family: 'Inter', sans-serif;
}